<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="myFirstService" class="cn.spring.test.MyFirstService">
		<constructor-arg type="String" name="name" value="abc"/>
		<constructor-arg type="int" name="level" value="3"/>
		<property type="String" name="property1" value="Someone says"/>
		<property type="String" name="property2" value="Hello World!"/>
		<!--注释掉property方式，使用@Autowired注入的方式-->
<!--		<property type = "cn.spring.test.BaseService" name = "baseService" ref = "baseService"></property>-->
	</bean>

	<bean id = "baseService" class="cn.spring.test.BaseService">
		<property type="String" name="name" value="Zhang San"/>
		<property type="String" name="age" value="18"/>
	</bean>
	<bean id="webBindingInitializer" class="cn.spring.webTest.DateInitializer">
	</bean>
	<bean id = "httpMessageConverter" class="cn.spring.web.DefaultHttpMessageConverter">
		<property type="cn.spring.web.ObjectMapper" name="objectMapper" ref="objectMapper"></property>
	</bean>
	<bean id="objectMapper" class="cn.spring.web.DefaultObjectMapper" >
		<property type="String" name="dateFormat" value="yyyy/MM/dd"/>
		<property type="String" name="decimalFormat" value="###.##"/>
	</bean>
</beans>